body {
    background: #c4c4c4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(27, 27, 27);
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background: #a7eaf3;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(66, 66, 66);
    padding: 0 20px 20px 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

section {
    background: #d8faff;
    color: rgb(82, 82, 82);
    padding: 20px 20px 400px 20px;
}

footer {
    background: rgb(59, 59, 59);
    color: white;
    padding: 40px 30px 70px 20px;
    text-align: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 10px;
}

/* About Page Div Class */

.tiles {
    width: 1000px;
    font-size: 0;
    margin: 0 auto;
  }
  
  .tile {
    width: calc(600px / 3);
    display: inline-block;
    margin: 20px;
  }

/* Sprint Technical 1 Container */
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }

.items {
    width: 500px;
    height: 200px;
  }

li {
    margin: 10px 0;
}

/* sections */
#S1 {
    padding: 20px 20px 200px 20px;
}

#S2 {
    padding: 20px 20px 100px 20px;
}

#SA {
    padding: 20px 20px 500px 20px;
}

.centre {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
}




