body {
    background: #c4c4c4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(27, 27, 27);
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background: #a7eaf3;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(66, 66, 66);
    padding: 0 20px 20px 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

section {
    background: #d8faff;
    color: rgb(82, 82, 82);
    padding: 20px 20px 400px 20px;
}

.container {
    display: flex;
  }

.items {
    flex-basis: auto;
    height: 100px;
    margin: 5px;
    padding: 20px;
  }

footer {
    background: rgb(59, 59, 59);
    color: white;
    padding: 30px 20px 70px 20px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 10px;
}

li {
    margin: 10px 0;
}




